{% extends "base.html" %}
{% load static %}
{% block extra_title %} - about {% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/main.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock%}

{% block content %}
<div class="overlay"></div>
<div class="container margin">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="title mb-4 text-center">About Us</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="jumbotron">
                <h1 class="display-4">Learn to defend yourself today!</h1>
                <p class="lead">Boost confidence, lose weight, tone up and increase flexibilty by joining Kumite Dojo. 
                We are a beginner friendly club and we pride ourselves on providing a relaxed and friendly enviroment in which to train in.
                We have packages to suit all members. Private classes, group classes and our online super sale that is only available here on our website.
                </p>
                <hr class="my-4">
                <p>We're Fully Back Now & Welcoming New Members!!!!!!!
                    *BEGINNER Quick Start Super Sale
                    Now enrolling and ONLY AVAILABLE HERE.</p>
                <a class="btn btn-red btn-lg" href="{% url 'classes' %}" role="button">Learn more about our classes</a>
            </div>
            <div class="about">
                <img src="{{MEDIA_URL}}about-img/about.jpg" class="about-img img-thumbnail"alt="group of people training karate">
                <img src="{{MEDIA_URL}}about-img/about-1.jpg" class="about-img img-thumbnail" alt="kids training karate with an instructor">
                <img src="{{MEDIA_URL}}about-img/about-2.jpg" class="about-img img-thumbnail" alt="group of people training karate at the beach">
                <img src="{{MEDIA_URL}}about-img/about-3.jpg" class="about-img img-thumbnail" alt="two kids listening to karate judge">
                <hr>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="jumbotron">
            <h1 class="display-4">Meet Our Instructors</h1>
            <p class="lead">
                Our instructors enjoy the challenges and rewards of 
                teaching not only a set of physical skills and fighting techniques, 
                but also of instilling core values of martial arts into their students.
                Values such as discipline, perseverance and integrity are central to martial 
                arts and make a lasting, positive effect in the lives of students.
            </p>
          </div>
    </div>
    <div class="row margin">
        <div class="card mb-3 col-lg-6 col-md-12">
            <div class="row no-gutters">
                <div class="col-md-4 col-lg-4">
                    <img src="{{MEDIA_URL}}about-img/instructor-1.jpg" class="instructor-img" alt="male instructor">
                </div>
                <div class="col-md-8 col-lg-8">
                    <div class="card-body">
                        <h5 class="card-title">Declan O'Connor</h5>
                        <p class="card-text">
                            Declan is one of the only people in this country to have represented Ireland in 
                            both Traditional Karate and Kickboxing. Declan has achieved a black belt in Shotokan, 
                            a 4th Dan black belt in Kickboxing and a black belt in Sport Karate. Declan has been 
                            around the block having studied Martial Arts for over 30 years! He has been teaching 
                            Martial Arts for the past 20 years and his enthusiasm is contagious. Declan has been 
                            there, done that and is now wearing the T-shirt!
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-5 col-lg-6 col-md-12">
            <div class="row mb-3 no-gutters">
                <div class="col-md-4 col-lg-4">
                    <img src="{{MEDIA_URL}}about-img/instructor-2.jpg" class="instructor-img" alt="female instructor">
                </div>
                <div class="col-md-8 col-lg-8">
                    <div class="card-body">
                        <h5 class="card-title">Katrina O'Sullivan</h5>
                        <p class="card-text">
                            Katrina originally took up Martial Arts and Kickboxing to keep fit and she never 
                            realised that she would be making a career out of it. She loves Kickboxing, MMA training 
                            and sparring as well as talking to everyone at the Dojos. Katrina was on the Irish Team for 
                            the WKKC World Championships and she has won a bronze medal at the US Open World Championship. 
                            She has also competed and won at amateur MMA. Louise is a great role model because she successfully 
                            proves that women can do it too and just as good.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}