{% extends "base.html" %}
{% load static %}
{% block extra_title %} - contact us {% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/main.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock%}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="title mb-4 text-center">Contact Us</h2>
            <hr>
        </div>
    </div>
</div>
<div class="form-container col-8 offset-2 p-5">
    <form method="POST" class="was-validated" action="{% url 'contact_submit' %}">
      {% csrf_token %}
      <div class="row">
        <div class="col-25">
          <label for="fname">First Name</label>
        </div>
        <div class="col-75">
          <input type="text" id="fname" name="firstname" placeholder="Your name.." required>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="lname">Last Name</label>
        </div>
        <div class="col-75">
          <input type="text" id="lname" name="lastname" placeholder="Your last name.." required>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="country">Email</label>
        </div>
        <div class="col-75">
          <input type="text" id="email" name="email" placeholder="Your Email.." required>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="subject">Message</label>
        </div>
        <div class="col-75">
          <textarea id="subject" name="message" placeholder="Your message.." style="height:200px" required></textarea>
        </div>
      </div>
      <div class="row margin">
        <input type="submit" value="Submit" class="btn btn-red">
      </div>
    </form>
</div>
{% endblock %}