{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock%}


{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 mx-auto mt-5">
                <h1 class="diaplay-4 tag-line text-black">
                    Official Shotokan Karate Club in Dublin
                </h1>
                <h3 class="sub">Group & Private Classes 7 days a week!</h3>
                <h4>
                    <a href="" class="join-now-button btn btn-lg rounded-0 text-uppercase">Join Now</a>
                </h4>
            </div>
        </div>
    </div>
    <div class="container">
        <!-- Featured Products -->
        <h3 class="my-4 border-bottom pb-1">Featured Products</h3>
        <div class="row row-cols-1 row-cols-md-2 g-4">
            {% for product in products %}
            <div class="col">
              <div class="card">
                <a href="{% url 'product_detail' product.slug %}">
                    <img class="card-img-top" src="{{ product.productimage_set.first.image.url }}" alt="{{ product.name }}">
                </a>
                <div class="card-body">
                  <h5 class="card-title">{{ product.name }}</h5>
                  <p class="card-text">{{ product.description|truncatewords:15 }}</p>
                </div>
              </div>
            </div>
            {% endfor %}   
        </div>
    </div>
{% endblock%}