{% load static %}
<div class="footer">
	<footer>
		<div class="container">
			<div class="row">
				<div class="col">
					<p>Build with <i class="fas fa-heart heart"></i> by Melinda Zhang</p>
				</div>
				
				<div class="col">
					<a
				href="https://www.linkedin.com/in/melinda-zhang-0012301aa/"
				target="_blank"
				rel="noopener noreferrer"
				><i class="fab fa-linkedin social"></i
			></a>
			<a
				href="https://github.com/MelindaZhang2020"
				target="_blank"
				rel="noopener noreferrer"
				><i class="fab fa-github social"></i
			></a>
				</div>
				<div class="col">
					<p>For Educational purpose only</p>
				</div>
			</div>
		</div>
	</footer>
</div>
