{% load static %}
<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-sm-block d-lg-none">
            <a href="{% url 'home' %}" class="nav-link main-logo-link">
                <img src="{% static 'img/logo.png' %}" alt="dojo-logo" width="60" height="60" class="d-inline-block align-text-center list-inline-item">
                <h2 class="logo-font list-inline-item text-black my-0"><strong>Kumite Dojo</strong></h2>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'about' %}" class="font-weight-bold nav-link text-black mr-5 nav-text" id="about">About</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'classes' %}" class="font-weight-bold nav-link text-black mr-5 nav-text" id="classes">Classes</a>
        </li>
        <li class="nav-item">
            
            <a href="{% url 'products' %}?category=membership" class="font-weight-bold nav-link text-black mr-5 nav-text" id="membership">Membership</a>
            
        </li>
        <li class="nav-item dropdown">
            <a href="#" class="font-weight-bold dropdown-toggle nav-link text-black mr-5 nav-text" id="shop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shop
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="shop">
                <a href="{% url 'products' %}?category=traininggi,karatebelt,books,accessories,membership" class="dropdown-item nav-text">All Products</a>
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item nav-text">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item nav-text">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item nav-text dropdown">By Category
                    <a href="#" class="font-weight-bold nav-link text-black ml-5 nav-text dropdown-toggle" id="category" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    </a>
                    <div class="dropdown-menu border-0" aria-labelledby="category">
                        <a href="{% url 'products' %}?category=traininggi" class="dropdown-item nav-text">Training Gi</a>
                        <a href="{% url 'products' %}?category=karatebelt" class="dropdown-item nav-text">Karate Belt</a>
                        <a href="{% url 'products' %}?category=books" class="dropdown-item nav-text">Books</a>
                        <a href="{% url 'products' %}?category=accessories" class="dropdown-item nav-text">Accessories</a>
                        <a href="{% url 'products' %}?category=membership" class="dropdown-item nav-text">Membership</a>
                    </div>
                </a>
            </div>
        </li>
        <li class="nav-item">
            <a href="{% url 'contact' %}" class="font-weight-bold nav-link text-black mr-5 nav-text" id="contact">Contact Us</a>
        </li>
    </ul>
</div>