<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a href="" class="font-weight-bold nav-link text-black mr-5" id="about">About</a>
        </li>
        <li class="nav-item">
            <a href="" class="font-weight-bold nav-link text-black mr-5" id="classes">Classes</a>
        </li>
        <li class="nav-item">
            <a href="" class="font-weight-bold nav-link text-black mr-5" id="membership">Membership</a>
        </li>
        <li class="nav-item dropdown">
            <a href="" class="font-weight-bold dropdown-toggle nav-link text-black mr-5" id="shop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shop
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="shop">
                <a href="" class="dropdown-item">By price</a>
                <a href="" class="dropdown-item">Rating</a>
                <a href="" class="dropdown-item">Category</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>
        <li class="nav-item">
            <a href="" class="font-weight-bold nav-link text-black mr-5" id="contact">Contact Us</a>
        </li>
        <li class="nav-item">
            <a href="" class="font-weight-bold nav-link text-black mr-5" id="blog">Blog</a>
        </li>
    </ul>
</div>