{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container my-5">
                    {% if product.productimage_set.all %}
                        {% for item in product.productimage_set.all %}
                            {% if item.featured %}
                            <div class="col-xs-12">
                                <a href="{{ item.image.url }}" taget="_blank">
                                    <img class="card-img-top img-fluid" src="{{ item.image.url }}" alt="{{ product.name }}">
                                </a>
                            </div>
                           <hr>
                            {% else %}
                            
                                
                                <div class="row">
                                    <div class="col-md-3 ">
                                        <img class="card-img-top" src="{{ item.image.url }}" alt="{{ product.name }}">
                                    </div>
                            
                                   </div>
                                       
                            {% endif%}
                              
                        {% endfor %}
                    {% else %}
                        <a href="{{ MEDIA_URL }}noimage.png" target="blank">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="product-details-container mb-5 mt-md-5">
                    <p class="mb-0">{{ product.name }}</p>
                    <p class="lead mb-0 text-left font-weight-bold">${{ product.price }}</p>
                    {% if product.category %}
                        <p class="small mt-1 mb-0">
                            <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                                <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                            </a>
                        </p>
                    {% endif %}
                    {% if product.rating %}
                        <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                    {% else %}
                        <small class="text-muted">No Rating</small>
                    {% endif %}
                    <p class="mt-3">{{ product.description }}</p>
                    <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            {% with product.has_adult_sizes as a %}
                            {% if a %}
                            <div class="col-12">
                                <p><strong>Size:</strong></p>
                                <select class="form-control rounded-0 w-50" name="size" id='id_product_size'>
                                    <option value="160cm"selected>160cm</option>
                                    <option value="170cm">170cm</option>
                                    <option value="180cm">180cm</option>
                                </select>
                            </div>
                            {% endif %}
                            {% endwith %}
                            {% with product.has_kid_sizes as k %}
                            {% if k %}
                            <div class="col-12">
                                <p><strong>Size:</strong></p>
                                <select class="form-control rounded-0 w-50" name="size" id='id_product_size'>
                                    <option value="110cm"selected>110cm</option>
                                    <option value="120cm">120cm</option>
                                    <option value="130cm">130cm</option>
                                    <option value="140cm">140cm</option>
                                    <option value="150cm">150cm</option>
                                </select>
                            </div>
                            {% endif%}
                            {% endwith %}
                            {% with product.has_belt_sizes as b %}
                            {% if b %}
                            <div class="col-12">
                                <p><strong>Size:</strong></p>
                                <select class="form-control rounded-0 w-50" name="size" id='id_product_size'>
                                    <option value="200cm"selected>200cm</option>
                                    <option value="220cm">220cm</option>
                                    <option value="240cm">240cm</option>
                                </select>
                            </div>
                            {% endif%}
                            {% endwith %}
                            <div class="col-12">
                                <p class="mt-3"><strong>Quantity:</strong></p>
                                <div class="form-group w-50">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="decrement-qty btn btn-red rounded-0" 
                                              data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                              <span class="icon">
                                                  <i class="fas fa-minus"></i>
                                              </span>
                                            </button>
                                        </div>
                                        <input class="form-control qty_input" type="number" 
                                        name="quantity" value="1" min="1" max="99" data-item_id="{{ product.id }}" 
                                        id="id_qty_{{ product.id }}">
                                        <div class="input-group-append">
                                            <button class="increment-qty btn btn-red rounded-0"
                                              data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-plus"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mt-2">
                                <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 mt-5">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase">Keep Shopping</span>
                                </a>
                                <input type="submit" class="btn btn-red rounded-0 text-uppercase mt-5" value="Add to Bag">
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}